<%- include('partials/header') -%>
<body class="bg-cover bg-center bg-no-repeat bg-fixed h-screen" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('me.png'); height: 100vh;">
    <div class="flex flex-col items-center justify-center min-w-96 mx-auto h-screen">
        <div class=" p-6 rounded-lg shadow-md bg-gray-400 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-0">
            <div class="flex-1 justify-center ">
                <button class="btn btn-neutral"><a href="/api/quiz/create">CREATE QUIZ</a></button>
                <button class="btn btn-neutral"><a href="/api/quiz/all">TAKE QUIZ</a></button>
            </div>
        </div>
    </div>
</body>