<%- include('partials/header') -%>
    <body class="bg-cover bg-center bg-no-repeat bg-fixed h-screen" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('me.png'); height: 100vh;">
        <div class="flex flex-col items-center justify-center min-w-96 mx-auto h-screen">
            <div class=" p-6 rounded-lg shadow-md bg-gray-400 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-0">
                <h1 class="text-transparent: uppercase text-3xl flex justify-center">Welcome to the Quiz App</h1>
                <div class="flex-1 justify-center ">
                    <button class="btn btn-neutral w-80 mt-11"><a href="/api/auth/login">Login</a></button>
                    <button class="btn btn-neutral w-80"><a href="/api/auth/signup">Signup</a></button>
                <!-- <button class="btn btn-neutral m-10"><a href="/api/auth/logout">Logout</a></button> -->
                </div>
            </div>


        </div>
    </body>

   